page-signup {
#signup{
    background: color($colors,fulldark);
    h3{
        font-size: 20px;
        margin-top:15px;
        color: #f2b632;
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 70px;

    }
 
}
}
