page-login {

#login{
    background: color($colors,fulldark);
    h2{
        font-size: 25px;
        margin-top:25px;
        color: ghostwhite;
        text-align: center;
    }
    h3{
        font-size: 20px;
        margin-top:15px;
        color: #f2b632;
        text-align: center;
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 70px;

    }
 
}
}

